.places {
  display: grid;
  margin: 92px auto 92px auto;
  column-gap: 40px;
  row-gap: 48px;
  max-width: calc(100% - 148px*2);
  grid-template-columns: minmax(min-content, 460px) minmax(min-content, 484px);
  grid-auto-rows: min-content;
}

@media screen and (max-width: 1024px) {
  .places {
    margin: 92px auto 92px auto;
    grid-template-columns: minmax(min-content, 440px) minmax(min-content, 456px);
    column-gap: 32px;
    max-width: calc(100% - 48px*2);
  }
}

@media screen and (max-width: 768px) {
  .places {
    margin: 88px auto 88px auto;
    column-gap: 28px;
    grid-template-columns: minmax(min-content, 340px) minmax(min-content, 352px);
    max-width: calc(100% - 24px*2);
  }
}

@media screen and (max-width: 675px) {
  .places {
    margin: 64px auto 64px auto;
    row-gap: 32px;
    grid-template-columns: minmax(min-content, 100%);
    max-width: 100%;
  }
}