.places {
  display: grid;
  margin: 92px auto;
  row-gap: 80px;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .places {
    max-width: calc(100% - 48px*2);
  }
}

@media screen and (max-width: 768px) {
  .places {
    margin: 88px auto;
    max-width: calc(100% - 24px*2);
    row-gap: 73px;
  }
}

@media screen and (max-width: 615px) {
  .places {
    margin: 64px auto;
    max-width: 100%;
    row-gap: 50px;
  }
}