.lead__title {
  font-style: normal;
  font-weight: 900;
  line-height: 104%;
  text-align: center;
  padding: 0;
  margin: 0 auto;
  max-width: 720px;
  min-width: 288px;
  font-size: max(min(96px, 12vw), 40px, 2.5vw);
}

@media screen and (max-width: 615px) {
  .lead__title {
    line-height: 110%;
  }
}