.intro {
  display: flex;
  max-width: calc(100% - 148px*2);
  flex-direction: column;
  padding: 0;
  margin: 92px auto;
  align-items: flex-start;
}

@media screen and (max-width: 1024px) {
  .intro {
    max-width: calc(100% - 48px*2);
    margin: 92px auto;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: calc(100% - 24px*2);
    margin: 88px auto;
  }
}

@media screen and (max-width: 615px) {
  .intro {
    max-width: calc(100% - 16px*2);
    margin: 64px auto;
  }
}