.footer__links-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  column-gap: 18px;
}

@media screen and (max-width: 615px) {
  .footer__links-list {
    flex-direction: column;
    row-gap: 32px;
    margin-bottom: 48px;
  }
}
