.cover__title {
  font-style: normal;
  font-weight: 900;
  text-align: center;
  line-height: 106%;
  padding: 0;
  margin: 0 auto;
  max-width: 610px;
  min-width: 288px;
  font-size: max(min(76px, 9vw), 32px, 4vw);
}

@media screen and (max-width: 615px) {
  .cover__title {
    line-height: 109%;
  }
}