.place__url-heading {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 170%;
  letter-spacing: 2px;
  color: #AAAAAA;
  margin: 0;
  padding: 0;
  padding-bottom: 12px;
  text-transform: uppercase;
}

@media screen and (max-width: 615px) {
  .place__url-heading {
    line-height: 100%;
  }
}