.header__lang-links {
  display: flex;
  list-style-type: none;
  max-width: 78px;
  padding: 0;
  margin: 0;
  margin: 46px 48px 0 0;
  justify-content: space-between;
  align-items: flex-end;
  gap: 18px;
}

@media screen and (max-width: 768px) {
  .header__lang-links {
    margin: 46px 24px 0 0;
  }
}
@media screen and (max-width: 320px) {
  .header__lang-links {
    margin: 30px 16px 0 0;
  }
}
